<a href="https://colab.research.google.com/github/omkar3103/SQL_Basic_To_Advance/blob/main/Python_Datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
prac_list = [1,'omkar',2,'manoj',3,'kulkarni',4,321.43,True]

In [ ]:
print(prac_list[0])
print(prac_list[-1])
print(prac_list[3:8:3])

1
True
['manoj', 4]

In [ ]:
#2Ô∏è‚É£ Sum Without sum()

#Find the total of elements manually using loop.

In [ ]:
sum = 0
for i in prac_list:
  if ((type(i) == int or float) and (type(i) != str)):
    sum = sum+i

print(sum)

332.43

#3Ô∏è‚É£ Find Maximum (Without m())
Find the largest number manually.

In [ ]:
max = prac_list[0]
for i in prac_list:
  if((type(i)== int or type(i)==float) and (type(i) != str)):
    if i > max :
      max = i
print('max :',max)

max : 321.43

Count Occurrences

In [ ]:
no = int(input('Enter Number :'))
count=0
not_found=0
for i in prac_list:
  if i == no:
    count +=1

else:
  print(f'No appeared {count} times')

Enter Number :4
No appeared 1 times

5Ô∏è‚É£ Reverse Without Built-in
Reverse list manually (no slicing, no reverse()).

In [ ]:
i=len(prac_list)-1
while(i>=0):
  print(prac_list[i],' ')
  i-=1

True
321.43
4
kulkarni
3
manoj
2
omkar
1

9Ô∏è‚É£ Remove Duplicates (No set)

In [ ]:
uniq_list=[]
for i in prac_list:
  if i not in uniq_list:
    uniq_list.append(i)

print(uniq_list)

[1, 'omkar', 2, 'manoj', 3, 'kulkarni', 4, 321.43]

üîü Rotate List

In [ ]:
k=prac_list[2]
print(prac_list[k:]+prac_list[:k])

[2, 'manoj', 3, 'kulkarni', 4, 321.43, True, 1, 'omkar']

1Ô∏è‚É£3Ô∏è‚É£ List Comparison

In [ ]:
a=[1,2,3,4]
b=[3,4,5,6]

comn_lst=[]
uniq_lst=[]
for i1 in a:
  for j1 in b:
    if i1==j1:
      comn_lst.append(i1)

for i2 in a:
  if i2 not in b:
      uniq_lst.append(i2)

for j2 in b:
  if j2 not in a:
    uniq_lst.append(j2)

print('comman elements in a and b:',comn_lst)
print('unique element in both a and b:',uniq_lst)

comman elements in a and b: [3, 4]
unique element in both a and b: [1, 2, 5, 6]

1Ô∏è‚É£5Ô∏è‚É£ Flatten Nested List

In [ ]:
l1=[[1,2],[3,4],[5,6]]
l2=[]
for i in l1:
  print(i)
  l2.extend(i)

print(l2)

[1, 2]
[3, 4]
[5, 6]
[1, 2, 3, 4, 5, 6]

1Ô∏è‚É£4Ô∏è‚É£ Frequency Without Dict

Count frequency of each element manually.

In [ ]:
lst= [1,2,3,4,2,4,2,2,1]
visited=[]
result=[]
cnt=0
for i in lst:
  if i not in visited:
    cnt = 0


    for j in lst:
      if i == j:
        cnt +=1

    result.append([i,cnt])
    visited.append(i)

print(result)

[[1, 2], [2, 4], [3, 1], [4, 2]]

1Ô∏è‚É£1Ô∏è‚É£ Pair Sum Problem

In [64]:
ad_lst=[2, 4, 3, 5, 7, 8]
i=0
l_sum=0
pair=[]
sum_lst=[]

while(i<len(ad_lst)):
  pair.append([ad_lst[i],ad_lst[i+1]])


  l_sum = ad_lst[i] + ad_lst[i+1]
  sum_lst.append(l_sum)

  i=i+2

print('pairs :',pair)
print('Pair Sum :',sum_lst)

pairs : [[2, 4], [3, 5], [7, 8]]
Pair Sum : [6, 8, 15]